<h2>注文情報入力</h2>

<%= form_with model: @order, url: {controller: 'orders', action: 'confirm' }, local:true do |f| %>
<div>
  <p>支払い方法</p>
    <!--クレジットカードのラジオボタン-->
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
　　<!--銀行振込のラジオボタン-->
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
</div>
<div>
  <p>お届け先</p>
    <!--ご自身の住所のラジオボタン-->
    <%= f.radio_button :address_number, 1 %>
    <%= f.label :address_number, "ご自身の住所" %></br>
    <%= current_customer.address_display %></br>

    <!--登録済み住所のラジオボタン-->
    <%= f.radio_button :address_number, 2 %>
    <%= f.label :address_number, "登録先の住所" %></br>
    <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %></br>

    <!--新しいお届け先のラジオボタン-->
    <%= f.radio_button :address_number, 3 %>
    <%= f.label :address_number, "新しいお届け先" %></br>
    <%= f.label :post_code, "郵便番号（ハイフンなし）" %>
    <%= f.text_field :post_code %></br>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %></br>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
</div>
<%= f.submit "確認画面へ進む" %>
<% end %>



