<h1>注文履歴詳細</h1>
<h4>注文情報</h4>
<table>
  <tr><th>注文日</th><td><%=%></td></tr>
  <tr><th>配送先</th></th><td><%=%></td></tr>
  <tr><th>支払方法</th><td><%=%></td></tr>
  <tr><th>ステータス</th><td><%=%></td></tr>
</table>
<h4>注文内容</h4>
<table>
  <th>
    <td>商品</td>
    <td>単価（税込）</td>
    <td>個数</td>
    <td>小計</td>
  </th>
  <tr>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
    <td><%=%></td>
  </tr>
</table>
<h4>請求情報</h4>
<table>
  <tr><th>商品合計</th><td><%=%></td></tr>
  <tr><th>配送先</th></th><td><%=%></td></tr>
  <tr><th>ご請求額</th><td><%=%></td></tr>
</table>