<h1>注文履歴詳細</h1>
<h4>注文情報</h4>
<table border="1" style="border-collapse: collapse">
  <tr><th>注文日</th><td><%= order.created_at %></td></tr>
  <tr><th>配送先</th></th><td><%= order.post_code %><%= order.address %><%= order.name %></td></tr>
  <tr><th>支払方法</th><td><%= order.payment_method %></td></tr>
  <tr><th>ステータス</th><td><%= order.status %></td></tr>
</table>
<h4>注文内容</h4>
<table border="1" style="border-collapse: collapse">
  <th>
    <td>商品</td>
    <td>単価（税込）</td>
    <td>個数</td>
    <td>小計</td>
  </th>
  <tr>
    <% @order_details.each do |order_detail| %>
    <td><%= order_detail.item.name %></td>
    <td><%= order_detail.item.add_tax_price.to_s(:delimited) %></td>
    <td><%= order_detail.quantity %></td>
    <td><%= order_detail.price.to_s(:delimited) %></td>
    <% end %>
  </tr>
</table>
<h4>請求情報</h4>
<table>
  <tr><th>商品合計</th><td><%=%></td></tr>
  <tr><th>配送先</th></th><td><%=%></td></tr>
  <tr><th>ご請求額</th><td><%=%></td></tr>
</table>